body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/background.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh; 
  color: antiquewhite;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgb(16, 16, 16); 
}

a{
  text-decoration: none;
}

.material-icons.md-48 {
   font-size: 48px; 
   filter: grayscale(90%) brightness(70%); 
   transition: transform 0.40s ease;
   transform-origin: top center;
}

.material-icons.md-48:hover{
  filter: grayscale(0%) brightness(100%);
  transform: scale(1.2);
}

.material-icons.md-48:last-child{
  margin-right: 1.5vh;
}
