.item-container {
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 15vh;
    margin-bottom: 3.5vh; 
    color: antiquewhite;
    display: flex;
    filter: grayscale(90%) brightness(70%);
    transition: transform 0.40s ease;
  }

.item-container:hover{
    filter: grayscale(0%) brightness(100%);
    transform: scale(1.1); 
}

.item-photo {
    height: 100%;
    width: 28%; 
}

img {
    height: 100%;
    width: 100%; 
}

.item-info {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    transition: transform 0.40s ease
  }

h2{
    -webkit-text-stroke: 0.25vh black;
    font-size: 6vh;
    text-transform: uppercase;
    letter-spacing: 1.5vh;
    font-weight: 700;
}

.item-info:hover{
    transform: scale(1.1); 
}

ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
